html, body{
    width: 100%;
    height: 100%;
    background: #1B2127;
    overflow: auto;

}
#App{
    color: #B0CBE0;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}
.tree{
    background: #2B333B;
    width: 100%;
    height: 100%; 
    margin: 5px
}
.header{
    margin: 10px
}
.comment{
    margin: 10px;
}
.commitBox{
    margin: 5px;
}
.notSelected{
    margin: 5px;
    
}
.firstSelect{
    background: #3C546C;
    margin:5px;
    color: aliceblue
}
.secondSelect{
    background: #3C546C;
    margin:5px;
    color: aliceblue
}
.folderName{
    margin-top:10px;
    margin-bottom: 10px; 
    border-radius: 5px;
    text-align: center;
    background: #212529;
    width: 100%;
}
.commitBlock{
    margin:5px; 
    background: #2B333B;
}
.mainRow{
    height: 100%;
    width: 100%;
}
.headBox{
    margin:5px; 
    background: #2B333B;
}
.fullHeight{
    height: 100%;
}
.main{
    height: 100%;
}